# Filesystem cache
.DS_Store

# IDEs and editor cache
.idea/
.vscode/

# CMake build files
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

# Logs and backup files
*.log
*.bak
*.old
*.old.*